@font-face {
  font-family: 'Inter';
  src: url('./Inter-Regular.woff2');
}

body {
  font-family: Inter, sans-serif;
  font-feature-settings: 'ss01' 1, 'ss02' 1;
  margin: 0;
}

.CodeMirror {
  max-height: 400px;
}

.CodeMirror.CodeMirror-fullscreen {
  max-height: none;
}
