@font-face {
  font-family: 'Inter';
  src: url('./Inter-Regular.woff2');
}

body {
  font-family: Inter, sans-serif;
  font-feature-settings: 'ss01' 1, 'ss02' 1;
  margin: 0;
}

.CodeMirror {
  max-height: 400px;
}

.CodeMirror.CodeMirror-fullscreen {
  max-height: none;
}

#status {
  position: fixed;
  z-index: 999;
  top: 8px;
  right: 10px;
  line-height: 30px;
  pointer-events: none;
  opacity: 0;
  transition: 1s opacity ease-out;
}

#status.show {
  opacity: 1;
  transition: 0.15s opacity ease-in;
}

#error {
  position: absolute;
  font-family: monospace;
  font-size: 0.85em;
  z-index: 999;
  bottom: 4rem;
  left: 2rem;
  right: 2rem;
  padding: 1em;
  margin: 0;
  background: firebrick;
  border: 4px dashed tomato;
  color: white;
  transition: 0.3s opacity ease;
  opacity: 0;
  pointer-events: none;
}
#error.show {
  opacity: 1;
}
